<!DOCTYPE html>
<html lang="en">
  <head>  	    
	<%= render 'layouts/rails_default' %>
	<%= render 'layouts/shim' %>
  </head>

  <body>
  	<div class="wrapper">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
  		<%= render 'layouts/header' %>
  		<%= yield %>
  		<%= render 'layouts/footer' %>
      
  	</div>
  	<a href="" class="scrollup"><i class="fa fa-angle-up active"></i></a>
  </body>
</html>
